header {
  background-image: linear-gradient(to right, #426980, #bad6ff);
  padding: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
 .content img{
   width: 60%;
   left: 20%;
 }
}
