.background-nav{
    background-color: #ffff;
}

nav{
    box-shadow: 0 1px 5px #808080;
    margin-bottom: 7px;
}

nav ul {
    margin: 0 auto;
}

nav li {
    text-align: center;
}

@media (min-width: 992px) {
    nav li~li {
        margin-left: 18px;
    }
}