nav {
    background-image: linear-gradient(to top, #0f4488, #3d68a1);
}

nav ul {
    margin: 0 auto;
}

nav li {
    text-align: center;
}

@media (min-width: 992px) {
    nav li~li {
        margin-left: 18px;
    }
}