footer {
    color: white;
    background-color: black;
    padding: 20px;
}

footer svg {
    margin: 20px 10px;
    /*adicionar borda inferior brilhante*/
}

footer h6, footer h5 {
    width: 40%;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
}

h6:hover, footer h5 {
    color: black;
    background-color: white;
}