nav {
    color: white;
    background-color: black;
}

nav li {
    display: inline-block;

    text-align: center;
    padding: 5px;
    margin: 5px 5px;
    border-radius: 8px;

}

nav li:hover {
    color: black;
    background-color: white;
}

.active {
    color: black;
    background-color: white;
}