  body {
    background-color: #c1ebf5;
    font-weight: bold;
  }

   form input ~ span{
     margin-left: 8px;
     margin-top: 3px;
     color: #f14f4f;
     font-size: 14px;
   }
   
  .loginBox {
    width: 50%;
    position: absolute;
    left: 50%;
    padding: 25px;
    transform: translateX(-50%);
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #ffff;
    border-radius: 12px;
    border: 0.5px solid #bebdbd;
  }

  h3.nome {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: -1.4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  @media (max-width: 720px) {
    .loginBox {
      border: none;
      width: 100%;
    }

    body {
      background-color: #ffff;
    }
  }