body {
  background-color: #e8edf1;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

form input~span {
  margin-left: 8px;
  margin-top: 3px;
  color: #f14f4f;
  font-size: 14px;
}

main {
  padding: 20px 50px 50px 30px;
  border-radius: 5px;
  color: #414346;
}

main h2 {
  margin-bottom: 20px;
}