footer {
    color: #ffffff;
    background-image: linear-gradient(to right, #426980, #9bb1d6);
    padding: 20px;
}

address h5, address h6, footer svg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

footer svg {
    margin-top: 10px;
}

footer svg:hover {
    box-shadow: 0px 0px 15px #b5d4e6;
}

footer h6, footer h3 {
    padding: 5px;
    text-align: center;
}

footer h3 {
    color: black;
    color: white;
    padding-bottom: 8px;
    border-bottom: 1px solid #ffffff;
}

footer .sociais{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .sociais span ~ span{
    margin-left: 10px;
}

svg{
    border-radius: 50%;
}

@media (max-width: 576px) {
    .sociais svg{
        width: 40px;
        height: 40px;
    }
}