body{
    background-color: #f1f1f1;
}

main div.row {
    margin-bottom: 2rem;
}

div.col-lg img {
    width: 300px;
    height: 200px;
    border-radius: 8px;
    border: 0.1px solid #cad6e2;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

div.col-lg img:hover {
    box-shadow: 0 0 10px lightslategray;
}