div.row {
    margin-bottom: 2rem;
}

div.col-lg img {
    width: 300px;
    height: 200px;
    border-radius: 8px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    /*fazer sombra na imagem quando mouse estiver em cima dela*/

}