
section h3,  h2{
    color: #467dcf;
}

h2{
    text-align: center;
    margin: 30px;
}

section p{
    margin-left: 10px;
}

.descricao{
    background-image: url("../../images/descricao.jpg");
}

.descricao2{
    background-image: url("../../images/descricao2.jpg");
}

.descricao, .descricao2{
    background-size: cover;
    width: 100%;
    height: 400px;
}

