body {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
}

main {
    min-height: 20rem;
    /* min-height: 400px; */
}

a, a:visited, a:active, a:hover {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    cursor: pointer;
}