form input~span {
  margin-left: 8px;
  margin-top: 3px;
  color: #f14f4f;
  font-size: 14px;
}

main {
  padding: 20px 50px 50px 30px;
  color: #414346;
  font-weight: bold;
}

main h2 {
  margin-bottom: 20px;
}